#IDEA
.idea/
*.iml
*.ipr
*.iws

#Eclipse
.settings/
.classpath
.project

#compiled sources
target/*
out/*
*.zip

#logs
*.log

#other
plugin.xml
dependencies.groovy
/test-tmp/
/src/docs/ref/Resources/
grails-app/i18n/
*.zip