<plugin name='resources' version='1.0-RC2-SNAPSHOT' grailsVersion='1.2 &gt; *'>
  <author>Marc Palmer</author>
  <authorEmail>marc@grailsrocks.com</authorEmail>
  <title>Resources</title>
  <description>HTML resource management enhancements to replace g.resource etc.</description>
  <documentation>http://grails.org/plugin/resources</documentation>
  <resources>
    <resource>BlueprintResources</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>JQueryResources</resource>
    <resource>OverrideResources</resource>
    <resource>ResourcesBootStrap</resource>
    <resource>TestOnlyResources</resource>
    <resource>UrlMappings</resource>
    <resource>FeedsController</resource>
    <resource>org.grails.plugin.resource.BundleResourceMapper</resource>
    <resource>org.grails.plugin.resource.CSSPreprocessorResourceMapper</resource>
    <resource>org.grails.plugin.resource.CSSRewriterResourceMapper</resource>
    <resource>org.grails.plugin.resource.test.TestResourceMapper</resource>
    <resource>org.grails.plugin.resource.ResourceService</resource>
    <resource>org.grails.plugin.resource.ResourceTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='logging' version='1.0 &gt; *' />
  </dependencies>
  <behavior />
</plugin>